
        input {

            outline: black;
        }


        .button,
        .button:hover,
        .button:active,
        .button:visited,
        .button:focus {

            text-decoration: none;
        }

        .fa:hover {

            color: rgb(167, 167, 167);
        }

        p,
        a {

            text-decoration: none !important;
        }

        p,
        a:hover {

            color: rgb(167, 167, 167);
        }

        .portfolioHover {

            text-decoration: none !important;

        }

        .portfolioHover:hover {

            color: rgb(167, 167, 167) !important;
        }

        .portfolioFont {

            color: black;
            text-align: right !important;
            
        }

        .card-deck{
            margin-top: 10px;
            margin-left: auto;
            display: grid;
            /* pixel count after minmax sets how much each column shares */
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            grid-gap: .5rem;
        }



 
          
    