input {

    outline: black;
}


.button,
.button:hover,
.button:active,
.button:visited,
.button:focus {

    text-decoration: none;
}

.fa:hover {

    color: rgb(167, 167, 167);
}

p,
a {

    text-decoration: none !important;
    
}

p,
a:hover {

    color: rgb(167, 167, 167);
}

.portfolioHover {

    text-decoration: none !important;
    color: black !important;

}

.portfolioHover:hover {

    color: rgb(167, 167, 167) !important;
}

.portfolioFont {

    color: black;
    text-align: right !important;
    
}

.card-deck {
    margin-top: 10px !important;
    margin-left: auto !important;
    display: grid !important;
    /* pixel count after minmax sets how much each column shares */
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)) !important;
    grid-gap: .5rem !important;
}


/* custom button adjusmtents for 
project info modal usage */

.customButton {
       
    color: white !important;
    border-radius: 5px !important;
    padding: 5px 8px !important;
    background: black !important;
    
  }

  .customButton {
    background-color: black !important;
} 

 .customButton:hover {

    background: #ffffff !important;
    transition: all 0.35s ease-in-out !important;
    color: rgb(0, 0, 0)!important;
    border-color: black !important;
  
  }

  /* custom modal settings */

  button.close {

    text-decoration: none !important;
    
    border-color: none !important;

  }

  .close {

      color: white !important;
      
      
 

  }

  .modal-header,
  .modal-body,
  .modal-footer {

    background-color: black !important;
  
  }

  .modal-body {

    overflow-y: scroll;
  }

  .modal-title {

      color: white !important;

  }


 /* font color classes used specifically for interior modal attention grabs  */

 
  .whiteFont {

    color: white !important;

  }

  .redFont {

    color: rgb(189, 0, 0) !important;

  }


/* card deck width control support for the most narrow of devices (below 300px) */
@media screen and (max-width: 310px) {

    .card-deck {
  
        margin-top: 10px !important;
        margin-left: auto !important;
        display: grid !important;
        /* pixel count after minmax sets how much each column shares */
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)) !important;
        grid-gap: .5rem !important;
  
    }
  }


.pointer-link { 
    cursor: pointer; 
  } 

  .hvr-grow {
/* 
    display: inline-block; */
    /* vertical-align: middle; */
    /* /* transform: translateZ(0); */
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    /* backface-visibility: hidden; */
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    /* transition-property: transform; 
     */

}

.hvr-grow:hover {

    transform: scale(1.1);
    filter: brightness(97%);
    

}


.regularCredentials {

    font-size: 12px !important;
}


@media screen and (max-width: 200px) {

    .responsiveFooter{
  
      font-size: 10px !important;
  
    }
  }



  /* modal text adjustment at smaller mobile scale */

  @media (max-width: 350px) {

    .responsiveModalTitle {

        font-size: 20px !important;
    }
  }

  @media (max-width: 306px) {

    .responsiveModalTitle {

        font-size: 16px !important;
    }
  }


  @media (max-width: 350px) {

    .responsiveDescription {

        font-size: 14px !important;
    }
  }

  @media (max-width: 306px) {

    .responsiveDescription {

        font-size: 12px !important;
    }
  }

  @media (max-width: 350px) {

    .responsiveCredentials {

        font-size: 10px !important;
    }
  }

  @media (max-width: 306px) {

    .responsiveCredentials {

        font-size: 8px !important;
    }
  }