.button,
.button:hover,
.button:active,
.button:visited,
.button:focus {
    text-decoration: none !important;
}



/* .centeredSkills {

    text-align: center !important;
    align-content: center !important;
} */

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none !important;
}

h2 {

    color: white;

}

.skillsIcon {

    color: white;

}

.skillsIcon:hover {

    color: rgb(189, 0, 0);
    transition: all 0.25s !important;
    
}

.skillsTransform:hover
.skillsTransform:focus
.skillsTransform:active {

    transform: translateY(-4x);
}

/* .skillsContainerWidth {

    max-width: 750px !important; 
    justify-content: center!important;
} */


.skillsBox {

    /* min-height: 835px; */
    padding-top: 5px;
    padding-bottom: 5px;
    background: black;
    font:white;
    
} 


.nineSixtyWidth {

    max-width: 960px !important;
    
}
