
/* #preload { 
    background: url(https://github.com/jonathanschimpf/React-Portfolio/blob/main/public/images/jon_berks_crop.jpg?raw=true) no-repeat -9999px -9999px;

} */

/* current attempts

.heroIMAGE {
    
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url("https://github.com/jonathanschimpf/React-Portfolio/blob/main/public/images/jon_berks_crop.jpg?raw=true");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;

    }

.heroHEIGHT {

    height: 800px;
    position: relative;
    overflow: hidden;

} */



/* try these browser specific options  */

/* body {
    background: url(image url) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
} */




/* initially */
/* 
.heroIMAGE {
    
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url("https://github.com/jonathanschimpf/React-Portfolio/blob/main/public/images/jon_berks_crop.jpg?raw=true");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    }

.heroHEIGHT {

    height: 800px;
    position: relative;
    overflow: hidden; 
}
 */



/* most current */

.heroIMAGE {
    
    width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-image: url("https://github.com/jonathanschimpf/React-Portfolio/blob/main/public/images/jon_berks_crop.jpg?raw=true");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -webkit-background-position: center;
    -moz-background-position: center;
    -o-background-position: center;
    background-position: center;
    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -o-background-attachment: fixed;
    background-attachment: fixed;

    }

.heroHEIGHT {

    height: 800px;
    position: relative;
    overflow: hidden; 
}