.heroIMAGE {
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: url("https://github.com/jonathanschimpf/React-Portfolio/blob/main/public/images/jon_berks_crop.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* Remove parallax and apply background attachment
 scroll @ mobile devices at 768 pixels and below */
@media (max-width: 768px) {
  .heroIMAGE {
    background-attachment: scroll;
  }
}

/* Specific styles for iPads */
@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  .heroIMAGE {
    /* Adjust background-size as necessary
     could be 'contain' or specific dimensions */
    background-size: contain; 

    /* Optional: Adjust background 
    position if needed */
    background-position: top center; 

    /* Fall back to a scroll attachment 
    if fixed isn't working as expected */
    background-attachment: scroll;
  }
}

/* This query is for devices with a height of
 1024px which includes some iPads in landscape */
@media only screen 
  and (min-device-height : 1024px) 
  and (max-device-height : 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  .heroIMAGE {
    background-size: contain;
    background-position: top center;
    background-attachment: scroll;
  }
}
