.button,
.button:hover,
.button:active,
.button:visited,
.button:focus {
    text-decoration: none !important;
}

.fa:hover {
    color: rgb(167, 167, 167) !important;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none !important;
}

.blackoutLink {

    color: black !important;

}

a {
    color: black;
}

a:hover {
    
    color: rgb(167, 167, 167)!important;
}

.centeredContainer {

    text-align: center !important;
    align-content: center !important;
}

@media screen and (max-width: 465px) {

    .responsiveEmail {
  
      font-size: 20px !important;
  
    }
  }

  @media screen and (max-width: 400px) {

    .responsiveEmail {
  
      font-size: 14px !important;
  
    }
  }
  

  @media screen and (max-width: 340px) {

    .responsiveEmail {
  
      font-size: 12px !important;
  
    }
  }

  @media screen and (max-width: 490px) {

    .responsivePhone {
  
      font-size: 22px !important;
  
    }
  }

  @media screen and (max-width: 400px) {

    .responsivePhone {
  
      font-size: 20px !important;
  
    }
  }
  

  @media screen and (max-width: 340px) {

    .responsivePhone {
  
      font-size: 18px !important;
  
    }

  }

