/* .whiteHeaderFont {

    color: white !important;
} */

.jumbotronHeader {

    min-height: 800px !important;
    /* background-size: 1400px;  */
    background: white !important;
    /* position: relative;
    overflow: hidden; */
} 

.centerHeader {text-align: center !important;
align-content: center !important
}

.blacked {
    color: black !important;
    font-weight: 700 !important;
}

.greyed {

    color:rgb(104, 104, 104) !important;

}


@media screen and (max-width: 400px) {
    h1.responsiveH1Font {
      font-size: 12vw;
    }
  }

  @media screen and (max-width: 400px) {
    h2.responsiveH2Font {
      font-size: 12vw;
    }
  }