.button,
.button:hover,
.button:active,
.button:visited,
.button:focus {
    text-decoration: none !important;
}

.fa:hover {
    color: rgb(167, 167, 167) !important;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none !important;
}


.blackoutIcons {

    color: black !important;

}


a:hover {
    color: rgb(167, 167, 167);
}

@media screen and (max-width: 360px) {

    .responsiveFooter{
  
      font-size: 18px !important;

    }
  }

  @media screen and (max-width: 340px) {

    .responsiveFooter{
  
      font-size: 16px !important;
  
    }
  }
  

  @media screen and (max-width: 300px) {

    .responsiveFooter{
  
      font-size: 14px !important;
  
    }
  }
  