.button,
.button:hover,
.button:active,
.button:visited,
.button:focus {
    text-decoration: none !important;
}

.fa:hover {
    color: rgb(167, 167, 167) !important;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none !important;
}

a {
    color: black;
}
a:hover {
    color: rgb(167, 167, 167);
}

@media screen and (max-width: 350px) {

    .responsiveFooter{
  
      font-size: 20px !important;
  
    }
  }
  