.button,
.button:hover,
.button:active,
.button:visited,
.button:focus {
    text-decoration: none !important;
}

.fa:hover {
    color: rgb(167, 167, 167) !important;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none !important;
}


.blackoutIcons {

    color: black !important;

}


 /* tool-tip  */

 .tooltip-inner.tooltipFooter {

  background-color: white ;
  color: black ;
  font-weight: bold ;

  }


a:hover {
    color: rgb(167, 167, 167);
}

@media screen and (max-width: 400px) {

  .responsiveFooter{

    font-size: 22px !important;

  }
}

@media screen and (max-width: 365px) {

  .responsiveFooter{

    font-size: 21px !important;

  }
}

@media screen and (max-width: 360px) {

    .responsiveFooter{
  
      font-size: 20px !important;

    }
  }

   @media screen and (max-width: 340px) {

    .responsiveFooter{
  
      font-size: 19px !important;
  
    }
  } 
  

  @media screen and (max-width: 300px) {

    .responsiveFooter{
  
      font-size: 18px !important;
  
    }
  } 
  
